{% extends "base.html" %}
{% load static %}
{% block title %} {{post.title}}{% endblock title%}

{% block content %}
<h1>{{post.title}}</h1>

{% if post.author %}
<p><small>Muallif: {{post.author.username}}</small></p>
{% endif %}
<p><small>{{post.created_at}}</small></p>

{% if post.image %}
<img style="width: 95% !important; height: 80vh !important;" src="{{post.image.url}}"
    class="card-img-top m-1 mx-auto w-100" alt="Default">
{% else %}
<img style="width: 95% !important; height: 80vh !important;" src="{% static 'images/default-image.jpg' %}"
    class="card-img-top m-1 mx-auto w-100" alt="Default">
{% endif %}
<hr>
<p>{{post.text}}</p>

<p><a href="{% url 'post_view' %}">Orqaga</a></p>
{% endblock content %}